.trending-offers {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
  
  .trending-offers h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .offer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .offer-card {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .offer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .offer-code {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .offer-validity {
    font-size: 14px;
    color: #999;
  }
  
  .view-all-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
   margin-left: 90%;
  }
  
  .view-all-button:hover {
    background-color: #3e8e41;
  }